@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.brand {
  position: absolute;
  z-index: -1;
  width: 100vw;
  display: grid !important;
  place-items: center !important;
}
.brand a {
  z-index: 5 !important;
  color: #141414;
  font-family: Italiana;
  font-weight: lighter;
  font-size: 2rem;
}

.navbar {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  width: -moz-max-content;
  width: max-content;
  padding: 0.8rem 0.8rem 0.8rem;
}
.navbar-sticky ul {
  background-color: rgba(255, 255, 255, 0.477);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.cart {
  color: rgba(56, 56, 56, 0.9137254902);
}

.cart:hover {
  color: rgba(56, 56, 56, 0.9137254902);
}

nav {
  overflow-x: hidden !important;
  position: absolute !important;
  z-index: 6;
}
nav .navbar-toggler {
  border: 0px;
}
nav li a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
nav li a:hover::after {
  width: 30%;
}
nav .icons-nav {
  overflow-x: hidden !important;
  z-index: 80;
  background-color: rgba(255, 255, 255, 0.5450980392);
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
nav .icons-nav .fa-user {
  color: rgba(20, 20, 20, 0.862745098);
}
nav .icons-nav input {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  transition: all 1s ease-in-out !important;
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  -ms-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
}
nav .icons-nav form:hover > input {
  width: 80% !important;
}
nav .icons-nav form {
  width: 100vw;
  z-index: 5;
}
nav .icons-nav form a {
  right: 20%;
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  position: absolute;
}

input {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  transition: all 1s ease-in-out !important;
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  -ms-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
}

.right-side form:hover > input {
  width: 10% !important;
}
.right-side form {
  width: 100vw;
  display: flex;
  justify-content: end;
}
.right-side form a {
  right: 5px;
  position: absolute;
}
.right-side .fa-cart-shopping {
  color: #141414;
}
.right-side .fa-cart-shopping::after {
  content: "3";
  width: 15px;
  top: 15px;
  right: 120px;
  font-family: Poppins;
  font-size: small;
  font-weight: normal;
  text-align: center;
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.login {
  font-family: lato !important;
  font-weight: 400 !important;
  font-size: small !important;
}

.hero {
  z-index: 5 !important;
}
.hero .h1 h1:nth-child(1) {
  font-size: clamp(2rem, 10vw, 3rem);
}
.hero .h1 h1:nth-child(2) {
  color: burlywood;
  font-weight: bold;
  font-size: clamp(2rem, 10vw, 5rem);
}
.hero img {
  width: clamp(150px, 100%, 1000px);
}

.explore {
  color: rgba(56, 56, 56, 0.9137254902) !important;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(222, 184, 135, 0.21), 0 0px 30px 0 rgba(222, 184, 135, 0.466);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.explore:hover {
  color: white !important;
}

.categories a {
  color: black;
}
.categories a h2 {
  font-family: lato;
  font-weight: 400;
  font-size: 1.2rem !important;
}
.categories a:hover {
  text-decoration: none;
  color: #141414;
}

.digital-img, .traditional-img {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #F8F9FB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.digital-img img, .traditional-img img {
  width: clamp(100px, 100%, 309px);
  height: auto;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.digital-img img:hover, .traditional-img img:hover {
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
}
.digital-img p, .digital-img span, .traditional-img p, .traditional-img span {
  font-size: small;
  transition: all 1s ease !important;
  -webkit-transition: all 1s ease !important;
  -moz-transition: all 1s ease !important;
  -ms-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
}
.digital-img span, .traditional-img span {
  font-weight: 400;
  color: rgba(20, 20, 20, 0.6901960784);
}
.digital-img p::after, .traditional-img p::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.digital-img p:hover::after, .traditional-img p:hover::after {
  text-decoration: underline;
  width: 15%;
}

.arrival {
  text-align: center;
}
.arrival h1 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 2.6rem;
}
.arrival p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.1rem;
  color: rgba(109, 109, 109, 0.7725490196);
}

.title-rank {
  color: burlywood;
  font-weight: bold;
  font-size: clamp(2rem, 10vw, 4rem);
}

.subtext-rank {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.1rem;
  color: #6d6d6d;
}

.swiper {
  width: 100%;
}
.swiper .img img {
  width: 100%;
  height: calc(100% - 2px) !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.swiper .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: clamp(150px, 100vw - 100px, 300px);
  height: auto;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
}
.swiper .top1 {
  background-color: #ffd700;
}
.swiper .top2 {
  background-color: #c0c0c0;
}
.swiper .top3 {
  background-color: #cd7f32;
}
.swiper .top-below {
  background-color: rgba(158, 158, 158, 0.731);
}

.fa-fire {
  color: rgb(247, 121, 87);
}

.items {
  margin-left: 8vw;
  margin-right: 8vw;
}
.items li a {
  font-family: poppins;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: rgba(20, 20, 20, 0.4509803922) !important;
}
.items .zoom img {
  width: 100%;
  height: calc(20vw - 10px);
  min-height: 15rem;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: middle;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.items .all-prod a:hover {
  color: #e7a17d !important;
}
.items .top a {
  color: #141414 !important;
}
.items .top a span {
  color: rgba(20, 20, 20, 0.3568627451) !important;
}
.items .all-prod a {
  letter-spacing: 4px;
  color: #c7ab9d !important;
}
.items ul {
  list-style: none;
}
.items .DA a:hover, .items .TA a:hover {
  color: #141414 !important;
  text-decoration: underline;
}

.art {
  background-color: transparent;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.art .art-img {
  background-color: transparent;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  overflow: hidden !important;
  -o-transition: all 300ms ease;
}
.art .art-img .fa-heart {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.art .art-img .fa-heart:hover {
  color: rgba(255, 0, 0, 0.521);
}
.art .art-img .fa-star-half-stroke {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.art .art-img .fa-star-half-stroke:hover {
  color: gold;
}
.art .art-img a {
  color: #141414 !important;
}
.art .art-img a:hover {
  text-decoration: none;
}
.art .sub-text {
  display: flex;
}
.art .sub-text i {
  cursor: pointer;
}
.art .sub-text .profile img {
  width: 25px !important;
  height: auto;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.art .sub-text .profile img:hover {
  transform: scale(120%);
  -webkit-transform: scale(120%);
  -moz-transform: scale(120%);
  -ms-transform: scale(120%);
  -o-transform: scale(120%);
}
.art .sub-text a {
  color: #141414;
}
.art .sub-text a img {
  width: 20px !important;
  height: auto;
}

.pagination .page-link {
  color: #141414;
}
.pagination li a {
  transition: all 0.5 ease;
  border: none;
  -webkit-transition: all 0.5 ease;
  -moz-transition: all 0.5 ease;
  -ms-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
}

.name::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

.name:hover::after {
  text-decoration: underline;
  width: 2.5rem;
}

.name {
  color: #141414;
  text-decoration: none;
}

.name:hover {
  color: #141414;
  text-decoration: none;
}

.modal-body {
  overflow-x: hidden;
}
.modal-body .modalArt {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
}
.modal-body .modalArt img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.modal-body .modal-btn {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}
.modal-body .modal-btn button {
  border-radius: 10px;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.close-btn {
  right: 10px;
  z-index: 3;
}

.artist-profile img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.artist-profile .prof-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 10% !important;
  height: auto;
}

form a {
  color: gray;
}
form a:hover {
  text-decoration: none;
  color: gray;
}
form .checkout {
  width: 70%;
}
form .cat_tags a {
  font-weight: normal;
  font-size: small;
}
form .name:hover::after {
  text-decoration: underline;
  width: 3.5rem !important;
}
form .name {
  color: #141414;
  text-decoration: none;
}
form .name:hover {
  color: #141414;
  text-decoration: none;
}
form .modalFooter .fa-facebook-f, form .modalFooter .fa-twitter, form .modalFooter .fa-instagram, form .modalFooter .fa-heart {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
form .modalFooter .fa-facebook-f:hover, form .modalFooter .fa-twitter:hover, form .modalFooter .fa-instagram:hover, form .modalFooter .fa-heart:hover {
  transform: scale(140%);
  -webkit-transform: scale(120%);
  -moz-transform: scale(140%);
  -ms-transform: scale(140%);
  -o-transform: scale(140%);
  color: #141414;
}
form .fa-star-half-stroke, form .fa-star {
  color: rgba(255, 217, 0, 0.527) !important;
}

.aotw {
  background-color: #fff9f0;
  overflow: hidden;
  width: 100vw;
}
.aotw .aotw-img {
  padding: 0 !important;
  width: 100vw !important;
}
.aotw .aotw-img img {
  height: 400px;
  width: 100vw;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.aotw .aotw-text {
  width: -moz-max-content !important;
  width: max-content !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
.aotw .aotw-text .discounted {
  font-weight: bold;
}
.aotw .aotw-text .shop-now {
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 30px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.history h5 {
  color: #c7ab9d;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.history p {
  font-weight: 600;
  font-size: 1.1rem;
}

.footer-bg {
  display: grid;
  place-items: center;
  background-color: rgba(226, 226, 226, 0.171);
}
.footer-bg .service {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
}
.footer-bg .service-text h6 {
  font-size: 0.875rem;
}
.footer-bg .service-text p {
  font-size: 0.875rem;
}

.footer-list {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
}
.footer-list li a:hover {
  text-decoration: none !important;
}
.footer-list li a {
  font-size: 0.85rem;
}
.footer-list a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.footer-list a:hover::after {
  width: 30%;
}

.footer-brand h6 {
  font-family: Italiana !important;
  font-weight: 500;
  font-size: 1.5rem !important;
}

.socmed a {
  color: rgba(0, 0, 0, 0.699) !important;
}

.copyright p {
  font-size: 0.87rem;
}

.art-img, .fa-heart, .zoom, .profile {
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}

@media (min-width: 991px) {
  .sub-text {
    display: none !important;
    position: absolute;
    bottom: 64px;
  }
  .art-img:hover > .sub-text {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    display: flex !important;
  }
  .art-img:hover > .sub-text .zoom {
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  input {
    transition: all 0.5s ease-in-out !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
  }
  .aotw-text {
    background: rgb(255, 255, 255);
    background: linear-gradient(52deg, rgb(255, 255, 255) 0%, rgba(252, 169, 0, 0) 90%);
  }
}
.socmed {
  display: flex;
  justify-content: end !important;
}

@media (max-width: 767px) {
  nav {
    position: relative !important;
  }
  nav .collapse, nav .icons-nav {
    background-color: rgba(255, 255, 255, 0.5450980392);
  }
  nav ul {
    width: 100vw;
  }
  nav ul li a {
    color: rgb(0, 0, 0) !important;
  }
  nav ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
  }
  nav ul li a:hover::after {
    width: 10%;
  }
  .all-prod {
    text-align: center;
  }
  .socmed {
    display: flex;
    justify-content: center !important;
  }
}/*# sourceMappingURL=style.css.map */